@import "./main.scss";

.page-2 {
    background-color: #edf5fb;
    .title-pg2 {
      width: 20%;
      padding: 5.5% 44% 0 44%;
      @media (max-width: $responsive4) {
        padding-left: 42%;
      }
      @media (max-width: $responsive5) {
        text-align: center;
        padding-left: 33%;
        width: 30%;
      }
      @media (min-width: $responsive7) {
        padding-left: 46%;
    }
      p {
        font-size: 26px;
        line-height: 26.99px;
        font-weight: 700;
        color: #4a99d3;
        @media (max-width: $responsive1) {
          font-size: 20px;
          line-height: 21px;
        }
      }
    }
    .icons {
      padding: 4.4% 14% 6.6% 14%;
      display: flex;
      justify-content: space-around;
      @media (max-width: $responsive3) {
        padding: 4% 6% 6% 6%;
      }
      @media (max-width: $responsive5) {
        flex-direction: column;
        align-items: center;
      }
      &_icon1 {
        max-width: 257px;
        text-align: center;
        @media (max-width: $responsive5) {
          padding-top: 5%;
        }
        .title {
          font-size: 18px;
          line-height: 18.68px;
          font-weight: bold;
          padding-top: 4%;
          margin-bottom: 0;
          @media (max-width: $responsive1) {
            font-size: 14px;
            line-height: 14px;
          }
        }
        .text {
          font-size: 16px;
          line-height: 26px;
          margin: 0;
          padding-top: 4%;
          @media (max-width: $responsive1) {
            font-size: 14px;
            line-height: 24px;
          }
          @media (max-width: $responsive3) {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
      &_icon2 {
        max-width: 257px;
        text-align: center;
        @media (max-width: $responsive5) {
          padding-top: 5%;
        }
        .title {
          font-size: 18px;
          line-height: 18.68px;
          font-weight: bold;
          padding-top: 4%;
          margin-bottom: 0;
          @media (max-width: $responsive1) {
            font-size: 14px;
            line-height: 14px;
          }
        }
        .text {
          font-size: 16px;
          line-height: 26px;
          margin: 0;
          padding-top: 4%;
          @media (max-width: $responsive1) {
            font-size: 14px;
            line-height: 24px;
          }
          @media (max-width: $responsive3) {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
      &_icon3 {
        max-width: 257px;
        text-align: center;
        @media (max-width: $responsive5) {
          padding-top: 5%;
        }
        .title {
          font-size: 18px;
          line-height: 18.68px;
          font-weight: bold;
          padding-top: 8%;
          margin-bottom: 0;
          @media (max-width: $responsive1) {
            font-size: 14px;
            line-height: 14px;
          }
          
        }
        .text {
          font-size: 16px;
          line-height: 26px;
          margin: 0;
          padding-top: 4%;
          @media (max-width: $responsive1) {
            font-size: 14px;
            line-height: 24px;
          }
          @media (max-width: $responsive3) {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
    }
  }